{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crowdjump </title>

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>


    <script src="/static/website/js/phaser.js"></script>

    <script src="/static/website/js/startmenu.js"></script>
    <script src="/static/website/js/game.js"></script>
    <script src="/static/website/js/endscreen.js"></script>
    <script src="/static/website/js/boot.js"></script>
    <script src="/static/website/js/preloader.js"></script>
    <script src="/static/website/js/main.js"></script>


    {#    TODO ICON #}
    <link rel="shortcut icon" href="">

    <base href="/">
</head>

{#<body ng-app="app">#}

<!-- NAVIGATION -->
{#<nav class="navbar navbar-expand-md bg-dark navbar-dark">#}
{#    <div class="container-fluid">#}
{##}
{#        <!-- Header -->#}
{#        <a class="navbar-brand" ui-sref="home">Home</a></a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <!-- Items -->#}
{#        <div class="collapse navbar-collapse" id="collapsibleNavbar">#}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" ui-sref="game">Game</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" ui-sref="ideas">Ideas</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" ui-sref="history">History</a>#}
{#                </li>#}
{#            </ul>#}
{##}
{##}
{#            <ul class="navbar-nav ml-auto">#}
{#                {% if user.is_authenticated %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" style="color: red" ui-sref="index">{{ user.get_username }} </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
                        {#                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">#}
{#                        <span class="fa fa-sign-out" aria-hidden="true"></span>&nbsp; Logout </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="">#}
                        {#                        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">#}
{#                        <span class="" aria-hidden="true"></span>&nbsp; Login </a>#}
{##}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{##}
{#    </div>#}
{#</nav>#}
<br>

<div class="content" ng-controller="appCtrl">
    <div class="panel" ng-repeat="idea in ideas">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ idea.request_text }}</h3>
            <author class="pull-right">{{ idea.user.username }}</author>
        </div>
        <p class="well">{{ idea.description }}</p>
        <p class="well">{{ idea.username }}</p>
    </div>
</div>


</div>
<script type="text/javascript" src="{% static 'website/js/myangular.js' %}"></script>
</body>
</html>