
li a {
    color: green;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    /*background: white url("../website/images/background.png");*/
}

/*.ng-scope { border: 1px solid red; }*/

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.center_div{
    margin: 0 auto;
    width:100% /* value of your choice which suits your alignment */
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: stretch;
}

.wrapper.active {
    max-width: 80%;
}

.chatcontainer{
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#sidebarCollapse {
    min-width: 27px;
    max-width: 55px;
    background: #89a3d5;
    color: #000000;
    transition: all 0.3s;
    position: fixed;
    margin-top: 68px;
    margin-left: 7px;
    /*padding-left: 7px;*/
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 10px;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow: visible;
}

#sidebar {
    min-width: 20%;
    max-width: 20%;
    margin-left: -120%;
    background: #7bc7e8;
    position:fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 60px;
}

#sidebar.active {
    margin-left: 00%;
    right:0;
}

#sidebar .sidebar-header {
    padding: 0px;
    /*background: #6d7fcc;*/
    background: #7bc7e8;
    /*background: #7386D5;*/
    text-align: center;
}


#content {
    /*margin-left: 10%;*/
}

#content.active{
    /*margin-left: -0%;*/
    max-width: 80%;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}