
.navbar-inverse .navbar-nav > li > a.no-hover:focus {
    text-decoration: none;
    background-color: transparent !important;
    color:#9d9d9d;
    cursor: default;
}

.navbar-inverse .navbar-nav > li > a.no-hover:hover {
    text-decoration: none;
    background-color: transparent !important;
    color:#9d9d9d;
    cursor: default;
}

.no-ideas-here {
    text-align: center;
}

.idea {
}

.idea .idea__meta {
    font-weight: bold;
    text-align: right;
    padding-bottom: 0px;
}

.idea .idea__time {
    font-weight: bold;
    float: left;
    font-size: 75%;
    clear: both;
    text-align: left;
    padding-bottom: 0px;
}

.idea .idea__content {
    text-align: left;
}

.idea .idea__meta a:hover {
    text-decoration: none;
}

.idea .idea__estimated_time {
    font-weight: bold;
    text-align: left;
    float: left;
    color: orange;
    font-size: large;
    padding-bottom: 0px;
}

.idea .idea__admin_comment {
    font-weight: bold;
    text-align: left;
    color: red;
    font-size: large;
    padding-bottom: 0px;
}

.idea .idea__delete {

}

.idea .idea__votes {
    text-align: right;
    padding-bottom: 0px;
}

.comment {
}

.comment .comment__meta {
    font-weight: bold;
    text-align: right;
    padding-bottom: 0px;
}

.comment .comment__time {
    font-weight: bold;
    float: left;
    font-size: 75%;
    clear: both;
    text-align: left;
    padding-bottom: 0px;
}

.comment .comment__content {
    text-align: left;
}

.comment .comment__meta a:hover {
    text-decoration: none;
}

.comment .comment__newest_comment {

    outline: grey;
}

.clickableRow {
    cursor: pointer;
}

.btn-add-new-idea {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-delete-idea {
    color: white;
    background: red;
}

.btn-delete-idea:hover {
    color: white;
    background: darkred;
}

.btn:focus, .btn:active {
    outline: red !important;
    box-shadow: red !important;
}

#toast-container {
    position: fixed;
    bottom: 0;
    z-index: 999;
    overflow: visible !important;
}