
li a {
    color: green;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    /*background: white url("../website/images/background.png");*/
}

/*.ng-scope { border: 1px solid red; }*/

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}