.no-ideas-here {
  text-align: center;
}

.idea {}

.idea .idea__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.idea .idea__meta a:hover {
  text-decoration: none;
}

.btn-add-new-idea {
  position: fixed;
  bottom: 20px;
  right: 20px;
}