
li a {
    color: green;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    /*background: white url("../website/images/background.png");*/
}

/*.ng-scope { border: 1px solid red; }*/

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: stretch;
}

.chatcontainer{
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#sidebar {
    /*min-width: 250px;*/
    /*max-width: 250px;*/
    min-width: 20%;
    max-width: 20%;
    background: #7386D5;
    transition: all 0.3s;
}
#sidebarCollapse {
    min-width: 27px;
    max-width: 27px;
    background: #89a3d5;
    color: #000000;
    transition: all 0.3s;
    padding-left: 2px;
}

#messageCounter {
    font-size: 80%;
    float: left;
    text-align: left;
    padding-left: 0px;
}
#sidebar.active {
    margin-left: -20%;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}