<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div ng-controller="QuestionnaireController as vm">
                <h3>Ideas</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('pre')">Pre CSV
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('post')">Post CSV
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('active_ideacomments')">Active
                    Ideas + Comments
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('all_ideacomments')">All Ideas
                    +
                    Comments
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('implemented_ideas')">
                    Implemented
                    Ideas (grouped by user)
                </button>

                <br>
                <h3>Usertracking</h3>
                <input type="text" name="Username" ng-model="username">
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_user(username,false)">
                    Usertracking
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_user(username,true)">Grouped
                    by page
                </button>
                <br>

                <h3>Gamedata</h3>
                <select ng-model="newestVersion"
                        ng-options="template.label for template in versions track by template.id"
                >
                </select>
                <br><br>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_gamedata_user(username,false)">
                    Gamedata
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_gamedata_user(username,true)">Grouped
                    by level
                </button>

                <h3>Random Org</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_idea_list()">get Idea List
                </button>

                <br><br>
                <a href="javascript:void(0)" id="dlcsv">
                    <button>Download Csv</button>
                </a>

                <textarea class="form-control textarea  empty"
                          rows="10" cols="12"
                          ng-model=csv></textarea>
            </div>
        </div>
    </div>
</div>

<!--<div ng-controller="MailController as vm">
    <button type="button" class="btn btn-xs btn-primary" ng-click="sendMail">CSV
    </button>

</div> ->