<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div>
                <h3>Survey</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('pre')">Pre
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('post')">Post
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getQuestionnaire('geq')">GEQ
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getQuestionnaire('spgq')">SPGQ
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getQuestionnaire('sus')">SUS
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getQuestionnaire('kim')">KIM
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="getQuestionnaire('gamex')">GAMEX
                </button><br>


                <h3>Ideas</h3>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('active_ideacomments')">Active
                    Ideas + Comments
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('all_ideacomments')">All Ideas
                    + Comments
                </button>

                <button type="button" class="btn btn-xs btn-primary" ng-click="getCsv('implemented_ideas')">
                    Implemented Ideas (grouped by user)
                </button>
                <br>


                <h3>Usertracking</h3>
                <input type="text" name="Username" ng-model="username">
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_user(username,false)">
                    Usertracking
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_user(username,true)">Usertracking grouped
                    by page
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_all(false)">
                    All tracking
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_tracking_all(true)">All tracking grouped
                    by page
                </button>
                <br>


                <h3>Gamedata</h3>
                <select ng-model="newestVersion"
                        ng-options="template.label for template in versions track by template.id"
                >
                </select>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_game_user_version()">Get users
                </button>
                <br><br>


                <button type="button" class="btn btn-xs btn-primary" ng-click="get_gamedata_user(username,false)">
                    Gamedata user version
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_gamedata_user(username,true)">
                    Gamedata grouped by level and status
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata_user(username,true,true)">
                    All Gamedata from User grouped
                </button><br><br>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(false,false)">All gamedata version
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(true,false)">All gamedata version
                    grouped by level and status
                </button><br><br>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(false,true)">All gamedata
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(true,true)">All gamedata
                    grouped by level and status
                </button>
                <br><br>


                <button type="button" class="btn btn-xs btn-primary" ng-click="get_gamedata_user(username,false,true)">
                    Gamedata user version time
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata_user(username,true,true,true)">
                    All Gamedata user time
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(false,false,true)">All gamedata version time
                </button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_all_gamedata(false,true,true)">All gamedata time
                </button>
                <br><br>

                <!--<h3>Random Org</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_idea_list()">get Idea List
                </button>
                <br>-->


                <a href="javascript:void(0)" id="dlcsv">
                    <button>Download Csv</button>
                </a>

                <textarea class="form-control textarea  empty"
                          rows="10" cols="12"

                          ng-model=csv></textarea>
                <br>
                <h3>Level</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="level_json()">get Level json
                </button>
                <br><br>
                <h3>Mail</h3>
                <button type="button" class="btn btn-xs btn-primary" ng-click="send_mail()">send Mail
                </button>
                <br>


                <br><br>
            </div>
        </div>
    </div>
</div>

<!--<div ng-controller="MailController as vm">
    <button type="button" class="btn btn-xs btn-primary" ng-click="sendMail">CSV
    </button>

</div> ->