<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div>
                <button type="button" class="btn btn-xs btn-primary" ng-click="get_json_sum()">Sum up Json
                </button>
                <br><br>
                <button type="button" class="btn btn-xs btn-primary" ng-click="sortByUserData()">UserData
                </button><br><br>


                <a href="javascript:void(0)" id="dlcsv">
                    <button>Download Csv</button>
                </a>

                <textarea class="form-control textarea  empty"
                          rows="8" cols="12"

                          ng-model=stats></textarea>
                <br>
                <textarea class="form-control textarea  empty"
                          rows="40" cols="12"

                          ng-model=csv></textarea>
                <br>
            </div>
        </div>
    </div>
</div>

<!--<div ng-controller="MailController as vm">
    <button type="button" class="btn btn-xs btn-primary" ng-click="sendMail">CSV
    </button>

</div> ->