<script type="text/javascript">
    tracksite();
    document.getElementById("file").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };

    /*function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function handleFiles(){

    }

    function submit() {
        return;
        var csrftoken = getAuthCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    xhr.setRequestHeader("X-CSRFTOKEN", csrftoken);
                }
            }
        });
        data = new FormData();
        data.append('file', $('#file')[0].files[0]);

        $.ajax({
            url: 'uploadCharacter',
            type: 'POST',
            cache: false,
            data: data,
            success: function (data_new) {
                console.log("success");
            },
            error: function (data) {
                console.log("time:" + time + ' . ' + data);
            }
        });
    }*/
</script>

<meta name="apple-mobile-web-app-capable" content="yes">
<!--<meta name="viewport" content="minimal-ui">-->

<style>
    #instructions {
        background-color: #2c21cb;
    }

    h4 {
        color: white;
        margin-left: 20px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>

<!-- <div class="container" style="background-color: #2c21cb"> -->
<div class="container">
    <!--<div class="row">
        <div class="col-md-12">

        </div>
        <h4 class="text-center" style="color:blue">The bug with the cannonball stuck in the upper left is known and will most likely be fixed in the next version!</h4><br>
    </div>-->
    <div class="row">
        <div class="col-md-12" id="gameCanvas">

        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="instructions">

            <h4 class="text-center" id="instructions" style="color: white; padding-right: 3%;">
                The goal is simple: Control the alien by using the <b>arrow keys</b> or <b>WASD</b>
                to move (or <b>space</b> to jump) to get to the flag. <br>
                To activate a colored mechanism, you first have to find a button with the same color.<br>
                If you get stuck, you can reset the game pressing <b>R</b>.
                Press <b>Escape</b> to get back to the main menu. <br>
                To mute or unmute the game, press <b>M</b>.
                <!---You can press F to go invincible for a short time! <br>
                Use the mouse to aim and the left mouse button to shoot bullets! -->
            </h4>

            <div class="col-md-10 text-center">
                <button id="btn-create" ng-controller="GameController" ng-init="createPGame()"
                        class="btn btn-primary btn-lg">Start
                    Game
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="false">

        <p style="margin-top: 10px">
            Explanations for
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Items and mechanisms
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Function</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/collectibles/coin_icon.png" alt="Crowdjump">
                        </td>
                        <td>A coin, which reduces your time by 0.5 seconds. 30 coins increase your lives by one.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/collectibles/powerup_permjumpboost.png" alt="Crowdjump">
                        </td>
                        <td>You can jump much higher for the rest of the level.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/collectibles/powerup_time.png" alt="Crowdjump">
                        </td>
                        <td>Enemies and cannons will slow down.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/collectibles/powerup_throughwalls.png" alt="Crowdjump">
                        </td>
                        <td>While jumping you can go through walls.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/misc/button_blue.png" alt="Crowdjump">
                        </td>
                        <td>A button! Touch it to open gates and spawn platforms with the same color.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/misc/gate_example.png" alt="Crowdjump">
                        </td>
                        <td>A gate! Touch the button with the same color to open it.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/tiles/spawn_example.png" alt="Crowdjump">
                        </td>
                        <td>If you touch a button with the same color, a platform will spawn here.</td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid"
                                 src="/static/website/gamefiles/collectibles/easteregg_unknown.png" alt="Crowdjump">
                        </td>
                        <td>An Easteregg! these have different, secret effects, can you find them all?</td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="row" ng-controller="IndexController as vm" ng-show="!vm.isAuthenticated">
        <br>
        <div class="alert alert-info text-center">
            <strong>
                <a class="" style="font-size: 28px; text-align: center" style="margin-top: 45px"
                   href="/login?next={{ request.path }}">Remember to
                    login before you play, so your score is saved!</a>
            </strong>
        </div>
    </div>


    <div class="row" ng-controller="IndexController as vm" ng-show="vm.isAuthenticated">
        <br>
        <h4 style="color:black;margin-left: 0px">Here you can upload your own skin (.png, max 34x42px, 20kb). Just post
            your
            file here! </h4>
        <form action="uploadCharacter/" method="post" enctype="multipart/form-data">
            <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

            <div class="form-group">
                <div class="fileUpload btn btn-primary">
                    <span>Upload</span>
                    <input id="file" type="file" class="upload" name="image" accept="image/png">
                </div>
                <input id="uploadFile" placeholder="Choose File" disabled="disabled"/>
                <input id="submitFile" type="submit" value="Submit" class="btn btn-primary"
                       style="color:white"/>
            </div>

        </form>
    </div>


    <div class="row" ng-show="true">

        <span ng-controller="HighscoreController as vm" id="scoreboard">
            <br>
            <h3>Here are the Top 10 players in version <select ng-model="newestVersion"
                                                               ng-options="template.label for template in versions_max track by template.id"
                                                               ng-change="getVersionHighscore(newestVersion.id)"></select>  !
            </h3>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">User</th>
                    <th scope="col">Time in seconds</th>
                    <!--<th scope="col">Highest Level</th>-->
                    <th scope="col">max Coins this version</th>
                    <th scope="col">max Eastereggs this version</th>
                </tr>
                </thead>
                <tbody ng-repeat="stat in statistics">
                <tr>
                    <td>
                        <span ng-if="$index == 0">
                            <img class="img-fluid" src="/static/website/images/plan-gold.png" alt="Crowdjump">
                        </span>
                        {{$index + 1}}</td>
                    <td ng-style=stat.color>{{ stat.user.username }}</td>
                    <td>{{ stat.highscore / 1000 | number:3}}</td>
                    <!--<td>{{ stat.highest_level}}</td>-->
                    <td>{{ stat.coins_collected }}</td>
                    <td>{{ stat.eastereggs_found }}</td>
                </tr>

                </tbody>

            </table>
        </span>
    </div>
</div>