<div class="container" ng-controller="VersionController">

    <h1> Previous Versions and Patchnotes </h1>
    <h4>
        Here you can find the features that got implemented, as well as the user who submitted the idea. <br>
        You want your own special feature? Submit your own on
        <div class="btn-group">
        <a href="ideas" class="btn btn-info">
            <i aria-hidden="true"></i> Ideas
        </a>
    </div><br><br>
    </h4>
</div>

<div class="container">

    <h4>There is no history available at the moment! In the future you can see, what features got implemented<br></h4>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Version</th>
            <th scope="col">Change</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0.01</td>
            <td>Here is the change</td>
            <td>Username</td>
            <td>5.03.2018</td>
        </tr>

        </tbody>

    </table>
</div>

