<script type="text/javascript">
    tracksite();
</script>
<div ng-controller="QuestionnaireController as vm">
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid" src="/static/website/images/logo.png" alt="Crowdjump">
        <h1>Welcome to Crowdjump!</h1>
        <div ng-controller="HistoryController as vm" ng-show="false">
            <h3> Version {{ versionLabel }} </h3>
        </div>
    </div>
</div>
<font size = "5">
<div class="container">
    Thank you for visiting crowdjump! <br>
    In crowdjump you can experience the design progress of a video game and maybe even decide the further development! <br>
    If you want to participate in upcoming studies, fill out the
        <div class="btn-group">
            <a href="https://forms.gle/fByhn33hFifSoV3h9" class="btn btn-info">
                <i aria-hidden="true"></i> following form!
            </a>
        </div>

</div>
</font>

<div class="container" ng-show="false">

    <!-- <div class="container-well" style="align-content: center">
        <div class="btn-group" ng-controller="QuestionnaireController as vm" ng-show="vm.surveystatus == 3">
            <a href="postsurvey0" class="btn btn-info" ng-click="setPost()">
                <i aria-hidden="true"></i> Take the survey!
            </a>
            <br><br>
        </div>
    </div> -->

    <h4> Everyday new features are implemented in Crowdjump the game as well as on the website! Be sure to check the progress regularly!<br>
        <br><br>
    </h4>


    <h4>


        The game itself can be found at
        <div class="btn-group">
            <a href="game" class="btn btn-info">
                <i aria-hidden="true"></i> Game
            </a>
        </div>
        <br><br>

        Upcoming Features can be found at
        <div class="btn-group">
            <a href="ideas" class="btn btn-info">
                <i aria-hidden="true"></i> Features
            </a>
        </div>
        <br><br>
        On
        <div class="btn-group">
            <a href="history" class="btn btn-info">
                <i aria-hidden="true"></i> History
            </a>
        </div>
        you can find the changes implemented in previous iterations of the game.

        <br><br><br>
    </h4>
</div>

