<script type="text/javascript">
    tracksite();
</script>

<div class="container">

    <h1> Your stats </h1>
    <!--<h4> Version <select ng-model="newestVersion"
                         ng-options="template.label for template in versions_max track by template.id"
                         ng-change="changeGamedataVersion(newestVersion.id)"></select>
        <br>

    </h4>-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Version</th>
            <th scope="col">Highscore</th>
            <th scope="col">Rounds won</th>
            <th scope="col">Rounds restarted</th>
            <th scope="col">Deaths</th>
            <th scope="col">Jumps</th>
            <th scope="col">Time spend in game</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="statistic in statistics">
            <th scope="row">{{ statistic.version.label }}</th>
            <td>{{ statistic.highscore }}</td>
            <td>{{ statistic.rounds_won }}</td>
            <td>{{ statistic.rounds_started }}</td>
            <td>{{ statistic.deaths }}</td>
            <td>{{ statistic.jumps}}</td>
            <td>{{ statistic.time_spent_game }}</td>
        </tr>
        </tbody>
    </table>

</div>


<br> <br> <br>