<script type="text/javascript">
    tracksite();
</script>

<div ng-controller="QuestionnaireController as vm">
</div>
<div class="container">

    <h1> Current Ideas </h1>
    <h4>
        Here are the current ideas for new features, all submitted by players like you! <br>
        At the moment, every X days a random request will be implemented. If you want to have more control
        over the selection process, feature requests are not limited to the game but can also include
        communication or voting features! <br>
        Every request cycle you can submit one idea, you will be notified when a new cycle starts.
        The estimated time is edited manually may help you to find suited ideas. <br><br>

        <div ng-controller="HistoryController as vm">
            Current state of version {{ version.label }}:
        </div>
        <br>

    </h4>
    <br>

</div>


<br> <br> <br>