<script type="text/javascript">
    tracksite();
</script>

<br><br>
<div ng-show="!vm.isAuthenticated" class="outerframe container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info">
                <strong>
                    <a style="font-size: 28px" style="margin-top: 45px" href="/login?next={{ request.path }}">Login to
                        unsubscribe from the newsletter</a>
                </strong>
            </div>
        </div>
    </div>
</div>
<div ng-show="vm.isAuthenticated" class="outerframe container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div class="well">
                <form role="form" ng-submit="vm.submit()" name="unsubscribeForm" #unsubscribeForm="ngForm">
                    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

                    <h4  align="center">Click here to to unsubscribe from the newsletter</h4>

                    <div class="form-group">
                        <div style="" align="center">
                            <button type="submit" class="btn btn-primary" [disabled]="!ngForm.valid">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<br> <br> <br>