<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="idea">
                <div class="idea__meta">

                    {{ idea.user.username }}<br>
                    {{ idea.created_at | date : "d. MM. y HH:mm" }}
                </div>

                <div class="idea__content">
                    {{ idea.request_text }} <br>
                </div>
                asd
                <div class="idea__estimated">
                    {{ idea.estimated_time }}
                </div>
            </div>
        </div>
    </div>
</div>