<form role="form" ng-submit="vm.submit()">

    <div class="form-group">
        <h4>Remember that you can submit ideas which have nothing to do with the game itself!</h4>
        <textarea class="form-control"
                  id="idea__request_text"
                  rows="1"
                  placeholder="The title of your idea"
                  minlength="5"
                  maxlength="50"
                  ng-model="vm.request_text">
        </textarea>
        <textarea class="form-control"
                  id="idea__description"
                  rows="3"
                  placeholder="Describe what feature you want in the game!"
                  minlength="10"
                  maxlength="500"
                  ng-model="vm.description">
        </textarea>
    </div>

    <div class="row" id="nextTo1">
        <button type="submit" class="btn btn-primary" value="Check" style="float: right;margin-right: 12px">
            Submit
        </button>
    </div>
</form>