<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <label for="idea__description">New Idea</label>
        <textarea class="form-control"
                  id="idea__request_text"
                  rows="3"
                  placeholder="The title of your idea"
                  ng-model="vm.request_text">
        </textarea>
        <textarea class="form-control"
                  id="idea__description"
                  rows="3"
                  placeholder="Describe what feature you want in the game!"
                  ng-model="vm.description">
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>
</form>