<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <label for="idea__description">New Idea</label>
        <textarea class="form-control"
                  id="idea__request_text"
                  rows="1"
                  placeholder="The title of your idea"
                  minlength="5"
                  maxlength="50"
                  ng-model="vm.request_text">
        </textarea>
        <textarea class="form-control"
                  id="idea__description"
                  rows="3"
                  placeholder="Describe what feature you want in the game!"
                  minlength="10"
                  maxlength="500"
                  ng-model="vm.description">
        </textarea>
    </div>

    <div class="row" id="nextTo1">
        <div class="form-group col-xs-6 save-all text-right" style="margin-right: 15px">
            <button type="submit" class="btn btn-primary" value="Check"
                    >
                Submit
            </button>
        </div>
    </div>
</form>