<div class="multiple-opt  mandatory col-xs-12 question-container"
     ng-style=" question.visible ? (question.error ? {'display': 'block','border-style': 'solid'} : {'display': 'block','border-style': 'none'}) : (question.error ? {'display': 'none','border-style': 'solid'} : {'display': 'none','border-style': 'none'})">

    <!-- Question title -->
    <div class="row question-wrapper question-title-container">
        <div class="col-sm-12 questiontext">
            <div class="qnumcode question-text">
                <span ng-show="{{ question.required }}" class="text-danger asterisk"></span>
                {{ question.text }}
                <div ng-show="{{ question.showImage }}">
                    <br>
                    <img src="{{ question.imageURL }}" width="{{ question.imageWidth }}"
                         style="margin-left: auto;margin-right: auto; display: block">

                </div>
            </div>

        </div>
    </div>


    <!-- Answer -->
    <div class="row question-wrapper answer-container">
        <div class="col-sm-12 answer">
            <!-- answer -->
            <div class="row multiple-choice-container subquestion-list questions-list checkbox-list">
                <div ng-repeat="choice in question.choices">
                    <!-- answer_row -->
                    <div class="col-sm-12">
                        <div class="question-item answer-item checkbox-item form-group  checkbox">

                            <label class="answertext" style="margin-left: 10px"><input class="checkbox"
                                                                                       value="$index"
                                                                                       ng-click="checkconditions(question)"
                                                                                       ng-model="question.selected[$index]"
                                                                                       type="checkbox" style=""><span
                                    style="margin-left: 10px"></span>{{ choice }}</label>

                            <input value="" type="hidden">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-show="question.freeChoice!=''">
                    <div class="question-item answer-item checkbox-item form-group checkbox">

                        <div class="pull-left othertext-label-checkox-container">

                            <!-- <input class="checkbox other-checkbox dontread"
                                   ng-click="checkconditions(question)" type="checkbox"
                                   style="margin-left: 0px">

                            <label class="answertext"
                                   ng-click="question.value=question.choices.length;checkconditions(question)"></label>

                            <div class="label-text label-clickable" style="margin-left: 30px">
                                {{ question.freeChoice }}
                            </div>-->

                            <label class="answertext" style="margin-left: 10px"><input class="checkbox"
                                                                                       value="question.choices.length"
                                                                                       ng-click="checkconditions(question)"
                                                                                       ng-model="question.selected[question.choices.length]"
                                                                                       type="checkbox" style=""><span
                                    style="margin-left: 10px"></span>{{ question.freeChoice }}</label>
                        </div>

                        <div class="pull-left">
                            <input class="form-control input-sm text  em_sq_validation good" value="" type="text"
                                   ng-model="question.value"
                                   style="margin-left: 10px">
                        </div>

                        <input value="" type="hidden">

                    </div> <!-- Form group ; item row -->
                </div>

                <!--<script type="text/javascript">
                    $('#answer836812X2337X27145other').bind('keyup focusout', function (event) {
                        if ($.trim($(this).val()).length > 0) {
                            $("#answer836812X2337X27145othercbox").prop("checked", true);
                        }
                        else {
                            $("#answer836812X2337X27145othercbox").prop("checked", false);
                        }
                        $("#java836812X2337X27145other").val($(this).val());
                        LEMflagMandOther("836812X2337X27145other", $('#answer836812X2337X27145othercbox').is(":checked"));
                        checkconditions(this.value, this.name, this.type);
                    });

                    $('#answer836812X2337X27145othercbox').click(function (event) {
                        if (($(this)).is(':checked') && $.trim($("#answer836812X2337X27145other").val()).length == 0) {
                            $("#answer836812X2337X27145other").focus();
                            LEMflagMandOther("836812X2337X27145other", true);
                            return false;
                        }
                        else {
                            $("#answer836812X2337X27145other").val('');
                            checkconditions("", "836812X2337X27145other", "text");
                            LEMflagMandOther("836812X2337X27145other", false);
                            return true;
                        }
                        ;
                    });
                </script> -->
            </div>

        </div>
    </div>
</div>