<div class="multiple-opt  mandatory col-xs-12 question-container"
     ng-style=" question.visible ? (question.error ? {'display': 'block','border-style': 'solid'} : {'display': 'block','border-style': 'none'}) : (question.error ? {'display': 'none','border-style': 'solid'} : {'display': 'none','border-style': 'none'})">

    <!-- Question title -->
    <div class="row question-wrapper question-title-container">
        <div class="col-sm-12 questiontext">
            <div class="qnumcode question-text">
                <pre class="pre-question"><span ng-show="{{ question.required }}" class="text-danger asterisk"></span><span class="tab"></span>{{ question.text }}</pre>
                <div ng-show="{{ question.showImage }}">
                    <br>
                    <img src="{{ question.imageURL }}" width="{{ question.imageWidth }}"
                         style="margin-left: auto;margin-right: auto; display: block">

                </div>
            </div>

        </div>
    </div>


    <!-- Answer -->
    <div class="row question-wrapper answer-container">
        <div class="col-sm-12 answer">
            <!-- answer -->
            <div class="row multiple-choice-container subquestion-list questions-list checkbox-list">
                <div ng-repeat="choice in question.choices">
                    <!-- answer_row -->
                    <div class="col-sm-12">
                        <div class="question-item answer-item checkbox-item form-group  checkbox">

                            <label class="answertext" style="margin-left: 10px"><input class="checkbox"
                                                                                       value="$index"
                                                                                       ng-click="checkconditions(question)"
                                                                                       ng-model="question.selected[$index]"
                                                                                       type="checkbox" style=""><span
                                    style="margin-left: 10px"></span>{{ choice }}</label>

                            <input value="" type="hidden">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-show="question.freeChoice!=''">
                    <div class="question-item answer-item checkbox-item form-group checkbox">

                        <div class="pull-left othertext-label-checkox-container">

                            <label class="answertext" style="margin-left: 10px"><input class="checkbox"
                                                                                       value="question.choices.length"
                                                                                       ng-click="checkconditions(question)"
                                                                                       ng-model="question.selected[question.choices.length]"
                                                                                       type="checkbox" style=""><span
                                    style="margin-left: 10px"></span>{{ question.freeChoice }}</label>
                        </div>

                        <div class="pull-left">
                            <input class="form-control input-sm text  em_sq_validation good" value="" type="text"
                                   ng-model="question.value"
                                   style="margin-left: 10px">
                        </div>

                        <input value="" type="hidden">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>