<div class="multiple-opt  mandatory col-xs-12 question-container"
     ng-style=" question.visible ? (question.error ? {'display': 'block','border-style': 'solid'} : {'display': 'block','border-style': 'none'}) : (question.error ? {'display': 'none','border-style': 'solid'} : {'display': 'none','border-style': 'none'})">

    <!-- Question title -->
    <div class="row question-wrapper question-title-container">
        <div class="col-sm-12 questiontext">
            <div class="qnumcode question-text">
                <span ng-show="{{ question.required }}" class="text-danger asterisk"></span>
                {{ question.text }}
                <div ng-show="{{ question.showImage }}">
                    <br>
                    <img src="{{ question.imageURL }}" width="{{ question.imageWidth }}" style="margin-left: auto;margin-right: auto; display: block">

                </div>
            </div>

        </div>
    </div>


    <!-- Answer -->
    <div class="row question-wrapper answer-container">
        <div class="col-sm-12 answer">
            <!-- Multiple Choice -->

            <!-- answer -->
            <div class="row multiple-choice-container subquestion-list questions-list checkbox-list">
                <input name="MULTI836812X2337X27145" value="9" type="hidden">


                <!-- answer_row -->
                <div class="col-sm-12">
                    <div id="javatbd836812X2337X27145SQ001"
                         class="question-item answer-item checkbox-item form-group  checkbox">
                        <input class="checkbox" name="836812X2337X27145SQ001" id="answer836812X2337X27145SQ001"
                               value="Y"
                               onclick="cancelBubbleThis(event); checkconditions(this.value, this.name, this.type)"
                               aria-labelledby="label-answer836812X2337X27145SQ001" type="checkbox">

                        <label for="answer836812X2337X27145SQ001" class="answertext"></label>

                        <!--
                             The label text is provided inside a div,
                             so final user can add paragraph, div, or whatever he wants in the subquestion text
                             This field is related to the input thanks to attribute aria-labelledby
                        -->
                        <div class="label-text label-clickable" id="label-answer836812X2337X27145SQ001">
                            Story
                        </div>

                        <input name="java836812X2337X27145SQ001" id="java836812X2337X27145SQ001" value="" type="hidden">
                    </div>
                </div>
                <!-- end of answer_row -->

                <!-- answer_row_other -->
                <div class="col-sm-12">
                    <div id="javatbd836812X2337X27145other"
                         class="question-item answer-item checkbox-item form-group checkbox">

                        <!-- Checkbox + label -->
                        <div class="pull-left othertext-label-checkox-container">
                            <!-- checkbox -->
                            <input class="checkbox other-checkbox dontread" name="836812X2337X27145othercbox"
                                   id="answer836812X2337X27145othercbox"
                                   aria-labelledby="label-836812X2337X27145othercbox" type="checkbox">

                            <!-- label -->
                            <label for="answer836812X2337X27145othercbox" class="answertext"></label>
                            <!--
                                 The label text is provided inside a div,
                                 so final user can add paragraph, div, or whatever he wants in the subquestion text
                                 This field is related to the input thanks to attribute aria-labelledby
                            -->
                            <div class="label-text label-clickable" id="label-836812X2337X27145othercbox">
                                Andere
                            </div>
                        </div>

                        <!-- comment -->
                        <div class="pull-left">
                            <input class="form-control input-sm text  em_sq_validation good"
                                   name="836812X2337X27145other" id="answer836812X2337X27145other" value="" type="text">
                        </div>


                        <!-- hidden input -->
                        <input name="java836812X2337X27145other" id="java836812X2337X27145other" value="asdsad"
                               type="hidden">

                    </div> <!-- Form group ; item row -->
                </div>

                <script type="text/javascript">
                    $('#answer836812X2337X27145other').bind('keyup focusout', function (event) {
                        if ($.trim($(this).val()).length > 0) {
                            $("#answer836812X2337X27145othercbox").prop("checked", true);
                        }
                        else {
                            $("#answer836812X2337X27145othercbox").prop("checked", false);
                        }
                        $("#java836812X2337X27145other").val($(this).val());
                        LEMflagMandOther("836812X2337X27145other", $('#answer836812X2337X27145othercbox').is(":checked"));
                        checkconditions(this.value, this.name, this.type);
                    });

                    $('#answer836812X2337X27145othercbox').click(function (event) {
                        if (($(this)).is(':checked') && $.trim($("#answer836812X2337X27145other").val()).length == 0) {
                            $("#answer836812X2337X27145other").focus();
                            LEMflagMandOther("836812X2337X27145other", true);
                            return false;
                        }
                        else {
                            $("#answer836812X2337X27145other").val('');
                            checkconditions("", "836812X2337X27145other", "text");
                            LEMflagMandOther("836812X2337X27145other", false);
                            return true;
                        }
                        ;
                    });
                </script>
                <!-- end of answer_row_other -->
            </div>
            <!-- end of answer -->

        </div>
    </div>
</div>