<div class="multiple-opt  mandatory col-xs-12 question-container"
     ng-style=" question.visible ? (question.error ? {'display': 'block','border-style': 'solid'} : {'display': 'block','border-style': 'none'}) : (question.error ? {'display': 'none','border-style': 'solid'} : {'display': 'none','border-style': 'none'})">

    <!-- Question title -->
    <div class="row question-wrapper question-title-container">
        <div class="col-sm-12 questiontext">
            <div class="qnumcode question-text">
                <span ng-show="{{ question.required }}" class="text-danger asterisk"></span>
                {{ question.text }}
                <div ng-show="{{ question.showImage }}">
                    <br>
                    <img src="{{ question.imageURL }}" width="{{ question.imageWidth }}"
                         style="margin-left: auto;margin-right: auto; display: block">

                </div>
            </div>

        </div>
    </div>


    <!-- Answer -->
    <div class="row question-wrapper answer-container">
        <div class="col-sm-12 answer">

            <div class="list-unstyled radio-list answers-list">
                <div ng-repeat="choice in question.choices">
                    <!-- answer_row -->
                    <div class="col-sm-12">
                        <div class="col-xs-12 form-group answer-item radio-item radio" style="margin-left: -34px">

                            <label class="control-label radio-label"
                                   ng-click="question.selected=$index;checkconditions(question)"><input class="radio" value="choice"
                                                                               name="question.nr"
                                                                               type="radio">{{ choice }}</label>
                            <input value="" type="hidden">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-show="question.freeChoice!=''">
                    <div class="col-xs-12 form-group answer-item radio-item radio" style="margin-left: -34px">

                        <div class="pull-left othertext-label-checkox-container">

                            <label class="answertext"
                                   ng-click="question.selected=question.choices.length;checkconditions(question)"><input class="radio"
                                                                               value="question.value"
                                                                               name="question.nr"
                                                                               type="radio"
                                                                               style="">{{ question.freeChoice }}
                            </label>
                        </div>

                        <div class="pull-left">
                            <input class="form-control input-sm text  em_sq_validation good" value="" type="text"
                                   ng-model="question.value">
                        </div>

                        <input value="" type="hidden">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>