<div id="question27209" class="array-flexible-row  mandatory col-xs-12 question-container"
     ng-style=" question.visible ? (question.error ? {'display': 'block','border-style': 'solid'} : {'display': 'block','border-style': 'none'}) : (question.error ? {'display': 'none','border-style': 'solid'} : {'display': 'none','border-style': 'none'})">


    <!-- Question title -->
    <div class="row question-wrapper question-title-container">
        <div class="col-sm-12 questiontext">
            <div class="qnumcode question-text">
                <pre class="pre-question"><span ng-show="{{ question.required }}" class="text-danger asterisk"></span><span class="tab"></span>{{ question.text }}</pre>
                <div ng-show="{{ question.showImage }}">
                    <br>
                    <img src="{{ question.imageURL }}" width="{{ question.imageWidth }}"
                         style="margin-left: auto;margin-right: auto; display: block">

                </div>
            </div>

        </div>
    </div>

    <!-- Answer -->
    <div class="row question-wrapper answer-container">
        <div class="col-sm-12 answer">

            <!-- answer -->
            <table class="table table-striped">
                <colgroup class="col-responses">
                    <col class="col-answers" style="width: 20%;">

                    <col class="odd" ng-style="{width: 80/question.nrscales + '%'}"
                         ng-repeat="description in question.scale track by $index">

                </colgroup>
                <thead>
                <tr class="array1 dontread">

                    <th class=" text-center">
                        &nbsp;
                    </th>

                    <th class="th-9 text-center" ng-repeat="description in question.scale track by $index">
                        {{ description }}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="choice in question.choices">
                    <th class="answertext">
                        {{ choice }}
                    </th>

                    <td ng-repeat="description in question.scale track by $index">

                        <div class="radio text-center">
                            <label><input class="radio"
                                          ng-click="question.selected[$parent.$index]=$index;checkconditions(question)" type="radio"
                                          name="{{ question.choices[$parent.$index]}}"
                            ></label>
                        </div>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>