<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="margin-top:30px;">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title">Datenschutzhinweise</h5>
        </div>
        <div class="modal-body" style="font-size:1.2rem;">
            <h4>Allgemeines</h4>
            <p>Die folgende Studie "Datenschutz bei der Kontextermittlung zur Verbesserung des E-Learnings" ist Teil des
                Projekts <a href="http://koala.dfki.de">KOALA</a> am Deutschen Forschungszentrum für Künstliche
                Intelligenz (DFKI).</p>

            <h4>Verantwortlicher</h4>
            <p>Deutsches Forschungszentrum für Künstliche Intelligenz (DFKI)</p>
            <p>Telefon: +49 (0)631 / 205 75-0, E-Mail: <a href="mailto:info@dfki.de">info@dfki.de</a>, siehe auch unser
                Impressum</p>
            <p>Ansprechpartner: Nicolas Brauner</p>
            <p>Telefon: +49 (0)681 / 85775 5368, E-Mail: <a href="mailto:s9nsbrau@stud.uni-saarland.de">nico.herbig@dfki.de</a>
            </p>

            <h4>Datenschutzbeauftragter</h4>
            <p>Telefon: +49 (0)631 / 205 75-0, E-Mail: <a href="mailto:datenschutz@dfki.de">datenschutz@dfki.de</a></p>

            <h4>Freiwillige Teilnahme und Einwilligung</h4>
            <p>Die Teilnahme an der Studie ist freiwillig. Die Einwilligung zur Teilnahme an dieser Studie kann
                jederzeit und ohne Angabe von Gründen bis zum Ende der Datenerhebung widerrufen werden, indem die
                Umfrage beendet wird (ein entsprechender Button ist auf der Webseite vorhanden) oder das Browserfenster
                geschlossen wird. Alle unvollständigen Datensätze werden von uns gelöscht. Nach dem Ende der
                Datenerhebung können die gesetzlichen Rechte auf Widerruf, Auskunft, Berichtigung, Sperrung und Löschung
                nicht mehr wahrgenommen werden, weil die Daten nicht mehr der betroffenen Person zugeordnet werden
                können.</p>

            <h4>Welche Daten erfassen wir?</h4>
            <p>Nach der Einwilligung zur Datenerfassung werden folgende Daten erhoben und ausschließlich anonymisiert
                verarbeitet:</p>
            <ul>
                <li>Eingaben in der Onlineumfrage</li>
            </ul>
            <p>
                Weiterhin werden für die Auswertung der Studie folgende Daten auf der Website erfasst: </p>
            <ul>
                <li> Statistiken über die gespielten Spiele </li>
                <li> eingereichte Ideen und Kommentare</li>
                <li> Alle vom Nutzer auf der Website veröffentlichten Beiträge</li>
                <li> Datum und Uhrzeit des Zugriffs</li>
            </ul>
            Auf dieser Webseite verwenden wir
            sogenannte Cookies. Cookies sind kleine Dateien, die von Ihrem Webbrowser gespeichert werden. Die auf
            unserer Website verwendeten Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine
            Schadsoftware. Sie ermöglichen eine benutzerfreundliche und effektive Nutzung dieser Webseite. Wir nutzen
            permanente Cookies mit einer Gültigkeitsdauer von höchstens 365 Tagen.

            <h4>Anonymisierung der Daten</h4>
            <p>Mit der Übertragung der erhobenen Daten an unseren Server erfolgt eine Anonymisierung, die eine Zuordnung
                der erhobenen Daten zu einer Person praktisch unmöglich macht, sofern keine persönlichen Daten in
                Freitextfeldern eingegeben werden.
            </p>

            <h4>Wofür nutzen wir die erhobenen Daten?</h4>
            <p>Die Ergebnisse und Daten werden ausschließlich zu wissenschaftlichen Forschungszwecken verwendet und sie
                werden im Rahmen des Projekts und als wissenschaftliche Publikation dieser Studie in anonymisierter Form
                veröffentlicht. Darüber hinaus können sie in anonymer Form für andere wissenschaftliche Forschungszwecke
                weiterverarbeitet werden.
            </p>

            <h4>Ansprechpartner</h4>
            <p>Verantwortlich für die Durchführung dieser Studie ist das DFKI. Ansprechpartner am DFKI ist Nico Herbig
                (nico.herbig@dfki.de). Wenn Sie Fragen haben, die diese Datenschutzerklärung nicht beantwortet, oder
                wenn Sie weitere Informationen zum Datenschutz wünschen, wenden Sie sich bitte an unseren
                Datenschutzbeauftragten (datenschutz@dfki.de).
            </p>

            <h4>Auskunft und Intervention</h4>
            <p>Neben der Information in dieser Datenschutzerklärung haben Sie das Recht auf Auskunft über Ihre
                personenbezogenen Daten. Zur Gewährleistung einer fairen Verarbeitung bestehen für Sie die folgenden
                Interventionsrechte:</p>
            <ul>
                <li>Das Recht auf Berichtigung und Vervollständigung Ihrer personenbezogenen Daten</li>
                <li>Das Recht auf Löschung Ihrer personenbezogenen Daten</li>
                <li>Das Recht auf Einschränkung der Verarbeitung Ihrer personenbezogenen Daten</li>
                <li>Das Recht auf Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten aus Gründen Ihrer
                    besonderen Situation
                </li>
            </ul>
            <p>Für die Ausübung Ihrer Rechte wenden Sie sich bitte an unseren Datenschutzbeauftragten.</p>

            <h4>Recht auf Beschwerde</h4>
            <p>Sie haben das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die
                Verarbeitung Ihrer personenbezogenen Daten gegen gesetzliche Datenschutzvorschriften verstößt.</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>
        </div>
    </div>

</div>