<script>
    gtag('config', 'UA-121096638-1', {'page_path': '/legalnotice'});
</script>
<div class="modal-header">
    <h2 class="modal-title">Legal Notice</h2>
</div>
<div class="modal-body" style="font-size:1.2rem;">
    <!--<p>Deutsches Forschungszentrum für Künstliche Intelligenz GmbH, DFKI<br>
    (German Research Center for Artificial Intelligence)<br><br></p>-->
    <p>Nicolas Brauner <br>
    Tilsiter Straße 10 <br>
    66359 Bous <br></p> <br>

    <h4><b>Studienleitung</b></h4>
    <p>Nicolas Brauner </p>

    <h4><b>Email</b></h4>
    <p><a href="mailto:s9nsbrau@stud.uni-saarland.de">s9nsbrau@stud.uni-saarland.de</a></p>
<!--
    <h5>Postal address</h5>
    <p>Mailbox 20 80<br>
    D-67608 Kaiserslautern<br></p>
    <br>


    <h5>Kaiserslautern Site</h5>
    Trippstadter Straße 122<br>
    D-67663 Kaiserslautern<br>
    Phone: +49 (0)631 / 205 75-0<br>
    Telefax: +49 (0)631 / 205 75-5030<br>
    <br>

    <h5>Saarbrücken Site</h5>
    Building D3_2<br>
    Stuhlsatzenhausweg 3<br>
    D-66123 Saarbrücken<br>
    Phone: +49 (0)681 / 857 75-0<br>
    Telefax: +49 (0)681 / 857 75-5341<br>
    <br>


    <h5>Bremen Site</h5>
    Robert-Hooke-Straße 1<br>
    D-28359 Bremen<br>
    Phone: +49 (0)421 / 178 45-0<br>
    Telefax: +49 (0)421 / 178 45-4150<br>
    <br>


    <h5>DFKI Project Office in Berlin</h5>
    Alt-Moabit 91c<br>
    D-10559 Berlin<br>
    Phone: +49 (0)30 / 238 95-0<br>
    <br>

    <h5>Management Board</h5>
    Prof. Dr. Dr. h.c. mult. Wolfgang Wahlster (CEO),<br>
    Dr. Walter Olthoff (CFO) <br>
    <br>

    <h5>Head of Supervisory Board</h5>
    Prof. Dr. h.c. Hans A. Aukes<br><br>

    Register Court: Amtsgericht Kaiserslautern<br>
    Register Number: HRB 2313<br><br>

    ID-Number: DE 148 646 973<br>
    -->
</div>