<div class="modal-header">
    <h2 class="modal-title">Privacy Policy</h2>
</div>
<div class="modal-body" style="font-size:1.2rem;">
    <h4>General</h4>
    <p>The following study is part of the bachelor study Crowdjump at the Saarland University.</p>
    <br>

    <h4>Voluntary participation and consent</h4>
    <p>Participation in the study is voluntary. Consent to participate in this study may be revoked at any time and
        without stating reasons until the end of data collection by ending the survey (closing the site).
        After the end of the data collection, the legal rights to revocation, information, correction, blocking and
        deletion can no longer be exercised. </p>

    <br>
    <h4>What information do we collect?</h4>
    <p>After accepting the privacy policy the following data will be collected and processed:</p>
    <ul>
        <li>Data inserted in the survey</li>
    </ul>
    <p>
        Also the following data will be collected when using the website: </p>
    <ul>
        <li> Information about the games played</li>
        <li> Submitted ideas and comments</li>
        <li> Every content published by the user</li>
        <li> Visited sites</li>
        <li> Date and time of access</li>
    </ul>

    <br>

    <h4>Cookies</h4>
    <p>We use so-called cookies on our web site. Cookies are small files that are being stored by your web browser. The
        cookies used on our web site do not harm your computer and do not contain any malicious software. They offer a
        user-friendly and effective usage of our web site. We do not use cookies for marketing purposes.
        <br>

        We transmit so-called session cookies with a validity period of at most 365 days to your web browser. They are
        valid
        only for the duration of your visit on our web site and they do not have any meaning outside of our web site.
        The
        session cookies are needed in order to identify your session with a unique number during your visit.
        <br>

        You can adjust your web browser such that you will be informed on setting cookies and allow cookies on an
        individual
        basis resp. exclude the acceptance of cookies for specific cases or generally. You also can adjust the automatic
        deletion of cookies upon termination of your web browser. Upon deactivation of cookies the functionality of our
        web
        site can be limited. In any case, our information offering is available to its full extent.
    </p>
    <br>
    <h4>What do we use this collected data for?</h4>
    <p>The results and data are used exclusively for scientific research purposes and will be published anonymously as
        part of the project and as a scientific publication of this study. The German Research Centre for Artificial
        Intelligence (DFKI) may use this data in the context of the study.<br>
        In addition, they may be further processed in anonymous form for other scientific research purposes.</p>

    <br>
    <h4>Access and Intervention</h4>
    <p>Besides the information in this data protection policy you have the right of access to your personal data. To
        ensure fair data processing, you have the following rights</p>
    <ul>
        <li>The right to rectification and completion of your personal data</li>
        <li>The right to erasure of your personal data</li>
        <li>The right to restriction of the processing of your personal data</li>
        <li>The right to object to the processing of your personal data on grounds related to your particular situation
        </li>
    </ul>

    <br>
    <h4>Right to lodge a complaint</h4>
    <p>You have the right to lodge a complaint with a supervisory authority if you consider that the processing of your
        personal data infringes statutory data protection regulations.</p>

    <h4>Contact</h4>
    <p>Responsible for conducting this study is Nicolas Brauner</p>
    <p>Phone: +49 (0)173 52525 91 </p>
    <p>Email: <a
            href="mailto:s9nsbrau@stud.uni-saarland.de">s9nsbrau[at]stud.uni-saarland.de</a>
    </p>
    <h5>Server Owner</h5>
    <p>Dominik Bergum</p>
    <br>

</div>