<script type="text/javascript">

</script>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <br>
        <sur-email info="survey[100][0]">
        </sur-email>
        <sur-radio info="survey[100][1]">
        </sur-radio>
        <sur-radio info="survey[100][2]">
        </sur-radio>
        <sur-radio info="survey[100][3]">
        </sur-radio>
        <div class="col-xs-6 save-all text-right" style="visibility: hidden">
        </div>
        <div class="row" id="nextTo1">
            <div class="col-xs-6 save-all text-right">
                <button type="" id="movenextbtn" value="movenext" name="movenext" accesskey="n"
                        class="submit button btn btn-lg  btn-primary" ng-click="submit(101)">Next
                </button>
            </div>
        </div>

        <div class="row">
            <br>
        </div>
    </div>
</div>