<script type="text/javascript">
    tracksite();
</script>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">

                <div class="container-fluid col-sm-12 well"  style="text-align: center">

                    <p>
                        Thank you for filling out the registration! <br>
                        We will notify you when the study starts!
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>