<script type="text/javascript">
    tracksite();
</script>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">
                <div class="col-sm-12 ">
                    <p class="surveywelcome">
                        Thank you for visiting Crowdjump! <br>
                        In this follow-up study to the well received original Crowdjump you can experience
                        the design progress of a video game and maybe even decide the further development
                        while helping with a student project! <br>
                        Each study will take about 3 weeks. While the game will evolve daily, you are free
                        to decide when and how often you play yourself!<br>
                        If you want to participate in upcoming studies (when they start in a few weeks),
                        fill out the following form!

                    </p>
                </div>
            </div>
            <br>
            <div class="">

                <div class="question-item answer-item checkbox-item form-group  checkbox">
                    <label>
                        <input class="checkbox" type="checkbox" ng-model="survey[99][0].selected"
                               ng-click="checkconditions(survey[99][0])" style="margin-left: -20px">
                        I have read the <a
                            ng-dialog-controller="PrivacyController as vm"
                            href="javascript:void(0)"
                            ng-dialog="/static/templates/questionnaire/privacy.html">Privacy Policy</a> and agree, that
                        my email address can be used to contact me and my information can be used for research
                        purposes.
                    </label>
                </div>
            </div>
            <br>
            <button id="legalnotice" type="button" class="btn btn-xs btn-primary"
                    ng-dialog-controller="PrivacyController as vm"
                    href="javascript:void(0)"
                    ng-dialog="/static/templates/questionnaire/legalnotice.html">Legal Notice
            </button>
            <button id="privacypolicy" type="button" class="btn btn-xs btn-primary"
                    ng-dialog-controller="PrivacyController as vm"
                    href="javascript:void(0)"
                    ng-dialog="/static/templates/questionnaire/privacy.html">Privacy Policy
            </button>


            <div class="row" id="nextTo1">
                <div class="col-xs-6 save-all text-right">
                    <button type="" id="movenextbtn" value="movenext" name="movenext" accesskey="n"
                            class="submit button btn btn-lg  btn-primary" ng-click="submit(100)">Next
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>