<div id="topContainer" class="jumbotron" style="top: 60px;background-color: transparent">
    <sur-progress info="100"></sur-progress>
</div>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">

                <div class="container-fluid col-sm-12 well"  style="text-align: center">

                    <p>
                        Danke, dass du diese Umfrage ausgefüllt hast. <br>
                        Crowdjump ist nun vollständig nutzbar! <br>
                        Um anzufangen, versuche dich doch an dem
                    </p>
                    <div class="btn-group">
                        <a href="game" class="btn btn-info">
                            <i aria-hidden="true"></i> Spiel
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>