<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">
                <div class="col-sm-12 ">
                    <p class="surveywelcome">
                        Danke, dass du an Crowdjump teilnimmst! <br>
                        Crowdjump ist ein teil einer Bachelorarbeit, bei welcher Spieler auf einer Website ein Online-Spiel
                        spielen und
                        ihre eigenen Ideen zum Weiterentwickeln von Spiel und Website einreichen können oder auch, wie
                        die
                        eingereichten Ideen ausgewählt werden. <br>
                        Die Fragen in dem Fragebogen werden genutzt um die Motivation für Einreichungen und soziale
                        Interaktionen herauszufinden. Alle Antworten sind anonym.<br>
                        Falls du weitere Fragen hast, kannst du diese an s9nsbrau[at]stud.uni-saarland.de stellen.
                    </p>
                </div>
            </div>
            <sur-check info="survey[0][0]">
            </sur-check>
            <div class="row" id="nextTo1">
                <div class="col-xs-6 save-all text-right">
                    <button type="" id="movenextbtn" value="movenext" name="movenext" accesskey="n"
                            class="submit button btn btn-lg  btn-primary" ng-click="submit(1)">Weiter
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>