<script type="text/javascript">
</script>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">
                <div>
                    <h1>
                        Please press <b>STRG + F5</b> the first time you visit this site to refresh the page, some
                        browser may have problems with forwarding!<br><br><br>
                    </h1>
                </div>

                <div class="col-sm-12 ">
                    <p class="surveywelcome">
                        Welcome and thank you for participating in this study! The completion of this survey will take
                        about 5 minutes.<br>
                        You can cancel the survey anytime, but to use the Crowdjump website, please fill out this survey
                        first.<br><br>

                        Crowdjump is part of study of the DFKI where users play an online game on this website <br>
                        which will evolve over time as more and more features are implemented. <br><br>

                        The questions from the survey are used to get the motivation for playing and social interaction.<br>

                        If you have further questions, feel free to contact s9nsbrau[at]stud.uni-saarland.de.
                    </p>
                </div>
            </div>
            <br>
            <div class="">

                <div class="question-item answer-item checkbox-item form-group  checkbox">
                    <label>
                        <input class="checkbox" type="checkbox" ng-model="survey[0][0].selected"
                               ng-click="checkconditions(survey[0][0])" style="margin-left: -20px">
                        I have read the <a
                            ng-dialog-controller="PrivacyController as vm"
                            href="javascript:void(0)"
                            ng-dialog="/static/templates/questionnaire/privacy.html">Privacy Policy</a> and agree, that
                        my information can be used for research purposes.
                    </label>
                </div>
            </div>
            <br>
            <button id="legalnotice" type="button" class="btn btn-xs btn-primary"
                    ng-dialog-controller="PrivacyController as vm"
                    href="javascript:void(0)"
                    ng-dialog="/static/templates/questionnaire/legalnotice.html">Legal Notice
            </button>
            <button id="privacypolicy" type="button" class="btn btn-xs btn-primary"
                    ng-dialog-controller="PrivacyController as vm"
                    href="javascript:void(0)"
                    ng-dialog="/static/templates/questionnaire/privacy.html">Privacy Policy
            </button>
            <div class="row" id="nextTo1">
                <div class="col-xs-6 save-all text-right">
                    <button type="" id="movenextbtn" value="movenext" name="movenext" accesskey="n"
                            class="submit button btn btn-lg  btn-primary" ng-click="submit(2)">Next
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>