<script type="text/javascript">
</script>
<div id="topContainer" class="jumbotron" style="top: 60px;background-color: transparent">
    <sur-progress info="50"></sur-progress>
</div>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">

    <div class="row" id="main-row">
        <br>
        <sur-double-scale info="survey[2][0]">
        </sur-double-scale>
        <div class="col-xs-6 save-all text-right" style="visibility: hidden">
        </div>
        <div class="row" id="nextTo1">
            <div class="col-xs-6 save-all text-right">
                <button type="" id="movenextbtn" value="movenext" name="movenext" accesskey="n"
                        class="submit button btn btn-lg  btn-primary" ng-click="submit(0)">Next<!--TODO fixen-->
                </button>
            </div>
        </div>

        <div class="row">
            <br>
        </div>
    </div>
</div>