<script>
    gtag('config', 'UA-121096638-1', {'page_path': '/surveyPreFinished.html'});
</script>
<div id="topContainer" class="jumbotron" style="top: 60px;background-color: transparent">
    <sur-progress info="100"></sur-progress>
</div>
<div class="outerframe container" id="outerframeContainer" style="margin-top: 60px;">
    <div class="row" id="main-row">
        <div class="col-sm-12 col-centered" id="main-col">
            <div class="row survey-welcome">

                <div class="container-fluid col-sm-12 well"  style="text-align: center">

                    <p>
                        Thank you for finishing the survey. <br>
                        You can now use all features of Crowdjump! <br><br>
                        Before you submit your own ideas to improve the<br>
                        game and the site why not head over to the
                    </p>
                    <div class="btn-group">
                        <a href="game" class="btn btn-info">
                            <i aria-hidden="true"></i> Game
                        </a>
                    </div>
                    <p>first and give it a try!</p>
                </div>
            </div>

        </div>
    </div>
</div>