{% verbatim %}
<div class="container chatcontainer" ng-controller="ChatController as vm" ng-show="vm.isAuthenticated" style="width: 100%">
    <div class="row">
        <div class="col-md-12 pre-scrollable" id="all_messages" onload="
                $('#all_messages').scrollTop($('#all_messages')[17].scrollHeight)">
            <div ng-repeat="message in chatMessages" id="chat">
                <div [innerHTML]="text" style="background-color: white">
                    <strong>{{ message.user.username }}:</strong> {{ message.message_html }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="chatMessages.length < 1">
        <div id="no_messages">No messages here</div>
    </div>
    <div class="row">
        <form id="chatform">
            <div class="col-md-12">
                <input id="chat-message-input" type="text" class="form-control input-lg"
                       placeholder="Type message here"
                       required>
            </div>
            <div class="col-xs-2 col-sm-1">
                <button id="chat-message-submit" type="button" class="btn btn-primary input-lg" value="Send"
                        style="visibility:hidden">Submit
                </button>
            </div>

        </form>
    </div>
</div>

<script>

</script>
{% endverbatim %}