{% verbatim %}
<div class="container chatcontainer" ng-show="vm.isAuthenticated"
     style="width: 100%; height: 50%">
    <div class="row">
        <div class="col-md-12 pre-scrollable well" id="all_messages" style="background-color: white;">
            <div ng-repeat="message in chatMessages" id="chat">
                <div [innerHTML]="text" style="background-color: white;"   ng-attr-title="{{ message.created | date : 'dd.MM.y HH:mm:ss' }}">
                    <strong>{{ message.user.username }}:</strong> {{ message.message_html }}
                </div>
            </div>
            <div id="scroll">
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="chatMessages.length < 1">
        <div id="no_messages">No messages here</div>
    </div>
    <div class="row">
            <form id="chatform">
                <input id="chat-message-input" type="text" class="form-control input-lg"
                       placeholder="Type message here"
                       required>
                    <button id="chat-message-submit" type="button" class="btn btn-primary input-lg" value="Send"
                            style="visibility:hidden; height: 1px">Submit
                    </button>

            </form>
        </div>
</div>

<script>

</script>
{% endverbatim %}