<!DOCTYPE html>
<html ng-app="crowdjump" style="height: 100%">

<head style="height: 100%">
    <title>Crowdjump</title>

    <base href="/"/>
    {% include 'stylesheets.html' %}
    {% load staticfiles %}
    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">
</head>

<body class="ng-scope" style="height: 100%; min-height: 100%;">

{% include 'navbar.html' %}

    <div class="container-fluid ng-scope" style="height: 100%; min-height: 100%">
        <div class="row">
                <div ng-view>

    </div>
        </div>
    </div>
    {% include 'javascripts.html' %}
<div id="toast-container"></div>
</body>
</html>