<!DOCTYPE html>
<html ng-app="crowdjump" style="height: 100%">

<head style="height: 100%">
    <title>Crowdjump</title>

    <base href="/"/>
    {% include 'stylesheets.html' %}
    {% load staticfiles %}
    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">
</head>

<body class="ng-scope" style="height: 100%; min-height: 100%;">

{% include 'javascripts.html' %}
{% include 'navbar.html' %}

<div class="wrapper" style="height: 100%; min-height: 100%; width: 100%">

    {% if user.is_authenticated %}
        <div class="container" id="sidebar">
            <div class="sidebar-header">
                <h2>Chat</h2>
            </div>
            {% include 'chatcolumn.html' %}
        </div>
        <button type="button" id="sidebarCollapse" class="btn-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span></span>
        </button><br>
        <span id="messageCounter"></span>
    {% else %}

    {% endif %}
    <div class="container-fluid ng-scope" style=" width: 100%">
        <div ng-view>

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <div id="toast-container"></div>
</div>
</body>
</html>