<!DOCTYPE html>
<html ng-app="crowdjump" style="height: 100%">

<head style="height: 100%">
    <title>Crowdjump</title>

    <base href="/"/>
    {% include 'stylesheets.html' %}
    {% load staticfiles %}
    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">
</head>

<body class="ng-scope" style="height: 100%; min-height: 100%;">

{% include 'javascripts.html' %}
{% include 'navbar.html' %}


{% if user.is_authenticated %}
    <div ng-controller="QuestionnaireController as vm">
    </div>
{% else %}
{% endif %}

<div class="wrapper" style="height: 100%; min-height: 100%;">
    {#<div class="wrapper" style="">#}

    <div class="ng-scope" id="content" style=" width: 100%">
        <div ng-view>

        </div>
    </div>
    {% if user.is_authenticated and FALSE %}
        <div ng-controller="ChatController as vm">
            {% verbatim %}
            <button type="button" id="sidebarCollapse" class="btn-btn" ng-click="resetUnread()">
                <i class="glyphicon glyphicon-align-left"><span ng-show=" {{ unreadMessagesNotZero}}">{{ unreadMessages }}</span></i>

            </button>
            {% endverbatim %}
            <div class="well" id="sidebar">
                <div class="sidebar-header">
                    <h1>Chat</h1>
                </div>
                {% include 'chatcolumn.html' %}
            </div>
        </div>
    {% else %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                $('#wrapper').toggleClass('active');
            });
        });
    </script>
    <div id="toast-container"></div>
</div>
</body>
</html>