{% load compress %}
{% load staticfiles %}

{% compress js %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.8/angular-material.css">
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.8/docs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular-route.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://code.angularjs.org/1.6.7/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>



    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>



    <script type="text/javascript" src="/static/website/js/phaser.js"></script>

    <script type="text/javascript" src="/static/website/js/main.js"></script>
    <script type="text/javascript" src="/static/website/js/boot.js"></script>
    <script type="text/javascript" src="/static/website/js/preloader.js"></script>
    <script type="text/javascript" src="/static/website/js/startmenu.js"></script>
    <script type="text/javascript" src="/static/website/js/game.js"></script>
    <script type="text/javascript" src="/static/website/js/endscreen.js"></script>



    <script type="text/javascript" src="{% static 'javascripts/crowdjump.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/crowdjump.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/crowdjump.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/ideas/ideas.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/ideas.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/comments.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/votes.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/ideas.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/idea.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/comment.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/ideas/directives/deleteConfirm.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/ideas.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/new-idea.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/ideasindex.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/ideas/controllers/delete-idea.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/version/version.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/version/controllers/version.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/history/history.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/history/services/history.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/history/controllers/history.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/history/controllers/historyindex.controller.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/statistics/statistics.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/statistics/services/statistics.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/statistics/controllers/statistics.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/statistics/controllers/highscore.controller.js' %}"></script>


    {#    <script type="text/javascript" src="{% static 'javascripts/game/game.module.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/menu.module.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/services/game.service.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/services/menu.service.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/states/menu.states.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/states/menu.states.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'javascripts/game/controllers/game.controller.js' %}"></script>#}
{% endcompress %}