{% load compress %}
{% load staticfiles %}

{% compress js %}

    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">#}


    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-1.6.7/angular-route.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://code.angularjs.org/1.6.7/angular-messages.min.js"></script>

    {#    moment for countdown clock#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>



    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {#    <script type="text/javascript" src="{% static 'lib/bootstrap3.3.7min/bootstrap3.3.7min.js' %}"></script>#}
    <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>


    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>





    <script type="text/javascript" src="/static/website/js/phaser.js"></script>
    <script type="text/javascript" src="/static/website/js/DebugArcadePhysics.js"></script>

    <script type="text/javascript" src="/static/website/js/main.js"></script>
    <script type="text/javascript" src="/static/website/js/boot.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/preloader.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/startmenu.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/game.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/endscreen.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/gameover.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/levelselection.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/characterselection.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/credits.js?v=1"></script>
    <script type="text/javascript" src="/static/website/js/options.js?v=1"></script>



    <script type="text/javascript" src="{% static 'javascripts/crowdjump.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/crowdjump.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/crowdjump.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/authentication/controllers/unsubscribe.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/admin/admin.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/admin/controllers/admin.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/admin/controllers/data.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/admin/controllers/bgg.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/chat/chat.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/chat/controllers/chat.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/chat/services/chat.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/chat/chat.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/Date.format.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/ideas/ideas.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/ideas.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/comments.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/votes.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/services/bugreports.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/ideas.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/idea.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/directives/comment.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/ideas/directives/deleteConfirm.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/ideas.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/new-idea.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/ideasindex.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/bugreport.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ideas/controllers/new-bugreport.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/ideas/controllers/delete-idea.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/version/version.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/version/controllers/version.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/history/history.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/history/services/history.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/history/controllers/history.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/history/controllers/historyindex.controller.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/questionnaire/questionnaire.module.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/controllers/questionnaire.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/controllers/privacy.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/services/questionnaire.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/questionnaire/directives/text.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/combo.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/progressbar.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/radio.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/check.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/radiolist.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/scale.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/bigtext.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/doublescale.directive.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/questionnaire/directives/email.directive.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/statistics/statistics.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/statistics/services/statistics.service.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/statistics/controllers/statistics.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/statistics/controllers/highscore.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/statistics/controllers/profile.controller.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascripts/statistics/controllers/didyouknow.controller.js' %}"></script>

    <script type="text/javascript">
        var isonfocus = true;
        var versionnumber = 10;
        var versionlabel = versionnumber < 10 ? '0.0' + versionnumber : '0.' + versionnumber;
        var nextVote = moment('06-10-2018 19:00:00', 'DD-MM-YYYY HH:mm:ss').unix();
        var winner7days = 'SSnake95';
        var wins7days = 5;
        var winner7daysEasy = 'Hornet11';
        var wins7daysEasy = 2;
        var winner7daysHard = 'Ganon Bulq';
        var wins7daysHard = 3;

        //easy
        //42 Hornet11
        //40 wiszieg
        //38 jonny
        //36 triggerfinger
        //34 Snake
        //32 Hornet11

        //hard
        //42 /
        //40 /
        //38 ganon
        //36 /
        //34 Ganon
        //32 ganon

        //normal
        //42 Mahax
        //40 snake
        //38 snake
        //36 snake
        //34 snake
        //32 snake
        //30 Jonny

        window.onblur = function () {
            isonfocus = false;
        };
        window.onfocus = function () {
            isonfocus = true;
        };


        var getUsername = function () {
            var account = JSON.parse(getAuthCookie('authenticatedAccount'));
            if (account != '' && account != null) {

                //get user
                return account["username"];

            } else {
                return getCookie('identifier');
            }

        };

        function deleteCookie(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        var deleteIdentifier = function () {
            deleteCookie('identifier');
        };

        var setSessionIdentifier = function () {
            var username = getUsername();
            var identifier = getCookie('identifier');
            if (username == '' && identifier == '') {
                const rand = () =>Math.random(0).toString(36).substr(2);
                const token = (length) =>(rand() + rand() + rand() + rand()).substr(0, length);
                setCookie('identifier', token(40));
                //console.log(token(40));
                return;
            }
            else {
                if (username != '' && identifier != '' && (username != identifier)) {
                    //previously not logged in
                    transferTrackingData(identifier, username);
                    transferGameData(identifier, username);
                }
            }

        }


        function getAuthCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var sendTrackingData = function (lastpage, page, time) {
            var username = getUsername();

            var data = {
                "username": username,
                "lastpage": lastpage,
                "page": page,
                "time": time
            };

            $.ajax({
                url: '/sendtracking/',
                data: data,
                success: function (data) {
                },
                error: function (data) {
                }
            });

        };

        var transferTrackingData = function (token, username) {
            if (token == username) return

            var data = {
                "username": username,
                "identifier": token,
                "destination": 'tracking'
            };

            $.ajax({
                url: '/transferdata/',
                data: data,
                success: function (data) {
                },
                error: function (data) {
                }
            });
            deleteIdentifier();
            //console.log(token + ' to ' + username);
        };

        var transferGameData = function (token, username) {
            if (token == username) return
            version = versionlabel;

            var data = {
                "username": username,
                "identifier": token,
                "destination": 'gamedata/' + version
            };

            $.ajax({
                url: '/transferdata/',
                data: data,
                success: function (data) {
                },
                error: function (data) {
                }
            });
        };

        var tracksite = function () {
            var url = window.location.pathname;
            var start = moment().unix();
            var lasttime = getCookie('time');
            setCookie('lastpage', getCookie('page'));
            setSessionIdentifier();

            setCookie('page', url);
            setCookie('time', start);
            //console.log(getCookie('lastpage')+','+getCookie('page')+','+getCookie('time'));
            startClock();


        };

        var refreshAccount = function () {
            log("refresh");

            account = JSON.parse(getAuthCookie('authenticatedAccount'));
            account.uploaded_character = "/media/characters/" + account.id + ".png";
            setCookie("authenticatedAccount", JSON.stringify(account), 365);
            /*var data = {};

            $.ajax({
                url: '/refreshAccount/',
                data: data,
                success: function (data) {
                    var acc = data.data;
                    log(data.data);
                    var expireDate = new Date();
                    expireDate.setDate(expireDate.getDate() + 365);
                    $cookies.put("authenticatedAccount", JSON.stringify(acc), {'expires': expireDate});
                },
                error: function (data) {
                    console.log("error refresh: " + JSON.stringify(data));
                }
            });*/

        }

        var globeclock = '00:00:00';

        function startClock() {
            var clock = '00:00:00';
            var currentTime = moment().unix(),
                startTime = getCookie('time'),
                startPage = getCookie('page'),
                lastPage = getCookie('lastpage'),
                diffTime = currentTime - startTime,
                interval = 1000,
                duration = moment.duration(diffTime * 1000, 'milliseconds'),
                pause = false;


            setInterval(function () {

                if (!pause && isonfocus) {
                    if (window.location.pathname != startPage) {
                        sendTrackingData(lastPage, startPage, clock);
                        pause = true;
                    }

                    duration = moment.duration(duration.asMilliseconds() + interval, 'milliseconds');
                    var d = moment.duration(duration).days(),
                        h = moment.duration(duration).hours(),
                        m = moment.duration(duration).minutes(),
                        s = moment.duration(duration).seconds();

                    clock = '';

                    if (d > 0) {
                        d = $.trim(d).length === 1 ? '0' + d : d;
                        clock += d + ' day';
                        clock += d > 1 ? 's ' : ' ';
                    }
                    h = $.trim(h).length === 1 ? '0' + h : h;
                    m = $.trim(m).length === 1 ? '0' + m : m;
                    s = $.trim(s).length === 1 ? '0' + s : s;


                    clock += h + ':' + m + ':' + s;
                    globeclock = clock;
                    //console.log(startPage + ' ' + clock);

                }
            }, interval);
        }


        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue;
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        window.onbeforeunload = function () {
            sendTrackingData(getCookie("lastpage"), getCookie("page"), globeclock);
        };

        function signum(i) {
            if (i > 0) return 1;
            if (i < 0) return -1;
            return 0;
        }

        function log(string1, string2, string3, string4, string5, string6, string7, string8, string9, string10) {
            var res = string1;
            string2 != undefined ? res += ' , ' + string2 : false;
            string3 != undefined ? res += ' , ' + string3 : false;
            string4 != undefined ? res += ' , ' + string4 : false;
            string5 != undefined ? res += ' , ' + string5 : false;
            string6 != undefined ? res += ' , ' + string6 : false;
            string7 != undefined ? res += ' , ' + string7 : false;
            string8 != undefined ? res += ' , ' + string8 : false;
            string9 != undefined ? res += ' , ' + string9 : false;
            string10 != undefined ? res += ' , ' + string10 : false;

            console.log(res);
        }

        function form_csv(string1, string2, string3, string4, string5, string6, string7, string8, string9, string10, string11, string12, string13, string14, string15, string16, string17, string18, string19, string20) {
            var res = string1;
            string2 != undefined ? res += ' , ' + string2 : false;
            string3 != undefined ? res += ' , ' + string3 : false;
            string4 != undefined ? res += ' , ' + string4 : false;
            string5 != undefined ? res += ' , ' + string5 : false;
            string6 != undefined ? res += ' , ' + string6 : false;
            string7 != undefined ? res += ' , ' + string7 : false;
            string8 != undefined ? res += ' , ' + string8 : false;
            string9 != undefined ? res += ' , ' + string9 : false;
            string10 != undefined ? res += ' , ' + string10 : false;
            string11 != undefined ? res += ' , ' + string11 : false;
            string12 != undefined ? res += ' , ' + string12 : false;
            string13 != undefined ? res += ' , ' + string13 : false;
            string14 != undefined ? res += ' , ' + string14 : false;
            string15 != undefined ? res += ' , ' + string15 : false;
            string16 != undefined ? res += ' , ' + string16 : false;
            string17 != undefined ? res += ' , ' + string17 : false;
            string18 != undefined ? res += ' , ' + string18 : false;
            string19 != undefined ? res += ' , ' + string19 : false;
            string20 != undefined ? res += ' , ' + string20 : false;

            return res + '\n';
        }

        function wrapForDB(string1, string2, string3, string4, string5, string6, string7, string8, string9, string10, string11, string12, string13, string14, string15, string16, string17, string18, string19, string20) {
            var res = '"' + string1 + '"';
            string2 != undefined ? res += '\t"' + string2 + '"' : false;
            string3 != undefined ? res += '\t"' + string3 + '"' : false;
            string4 != undefined ? res += '\t"' + string4 + '"' : false;
            string5 != undefined ? res += '\t"' + string5 + '"' : false;
            string6 != undefined ? res += '\t"' + string6 + '"' : false;
            string7 != undefined ? res += '\t"' + string7 + '"' : false;
            string8 != undefined ? res += '\t"' + string8 + '"' : false;
            string9 != undefined ? res += '\t"' + string9 + '"' : false;
            string10 != undefined ? res += '\t"' + string10 + '"' : false;
            string11 != undefined ? res += '\t"' + string11 + '"' : false;
            string12 != undefined ? res += '\t"' + string12 + '"' : false;
            string13 != undefined ? res += '\t"' + string13 + '"' : false;
            string14 != undefined ? res += '\t"' + string14 + '"' : false;
            string15 != undefined ? res += '\t"' + string15 + '"' : false;
            string16 != undefined ? res += '\t"' + string16 + '"' : false;
            string17 != undefined ? res += '\t"' + string17 + '"' : false;
            string18 != undefined ? res += '\t"' + string18 + '"' : false;
            string19 != undefined ? res += '\t"' + string19 + '"' : false;
            string20 != undefined ? res += '\t"' + string20 + '"' : false;
            return res;
        }

        function arrayContains(arr, str) {
            if (arr == undefined) return false;
            return (arr.indexOf(str) > -1);
        }

        $(function () {
            //var start = null;
            $(window).load(function (event) {
                //start = event.timeStamp;
                setSessionIdentifier();
            });
            $(window).unload(function (event) {
            })
        });

    </script>
{% endcompress %}