<nav class="navbar navbar-inverse" role="navigation" ng-controller="NavbarController as vm">

    <div class="container-fluid"
         ng-show="(vm.surveystatus == 3 || vm.surveystatus == 11 || !vm.isAuthenticated) && !vm.isIE">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#not-google-plus-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% verbatim %} <a class="navbar-brand" href="/">Crowdjump v{{ version }}</a> {% endverbatim %}

        </div> <!-- ./navbar-header -->

        <div class="collapse navbar-collapse" id="not-google-plus-nav">
            <ul class="nav navbar-nav mr-auto">
            </ul>

            <ul class="nav navbar-nav pull-left">
                <li></li>
                <li><a class="nav-link"
                       ng-dialog-controller="PrivacyController as vm"
                       href="javascript:void(0)"
                       ng-dialog="/static/templates/questionnaire/privacy.html">Privacy Policy</a></li>
                <li><a class="nav-link"
                       ng-dialog-controller="PrivacyController as vm"
                       href="javascript:void(0)"
                       ng-dialog="/static/templates/questionnaire/legalnotice.html">Legal Notice</a></li>

            </ul>
            <ul class="nav navbar-nav pull-right">
                <li></li>
                {% verbatim %} <li><a class="nav-link"
                       ng-dialog-controller="PrivacyController as vm"
                       href="javascript:void(0)"
                       ng-dialog="/static/templates/layout/countdowninfo.html">{{ clock }}</a></li>{% endverbatim %}
                <li><a class="nav-link" href="game">Game</a></li>
                <li><a class="nav-link" href="ideas">Ideas</a></li>
                <li><a class="nav-link" href="history">History</a></li>
                {% if user.is_authenticated %}
                    {#                    <li><a class="nav-link" href="chat/lobby">Chat</a></li>#}
                    {% if user.username == 'admin' %}
                        <li><a class="nav-link" href="admin">Admin</a></li>
                        <li><a class="nav-link" href="data">Data</a></li>
                    {% else %}
                    <li>
                        <a class="no-hover">Welcome, {{ user.username }}</a>
                    </li>
                    {% endif %}
                    {#                    <li><a href="/+{{ user.username }}/settings">Settings</a></li>#}
                    <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
                {% else %}
                    <li ng-init="vm.logout()"><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li>
                    </li>

                {% endif %}
            </ul>
        </div> <!-- /.collapse.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>