{% load compress %}
{% load staticfiles %}

{% compress css %}
{#<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.8/angular-material.css">
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.8/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap 3.3.7min/bootstrap3.3.7.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap 3.3.7min/bootstrap3.3.7-theme.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/survey.css' %}" />
{% endcompress %}