<style>
    #instructions {
        background-color: #2c21cb;
    }

    h4 {
        color: white;
        margin-left: 20px;
    }
</style>

<div class="col-md-12" id="gameCanvas">

</div>
<br>
<!--<img class="img-fluid" src="/static/website/images/logo.png" alt="Crowdjump"> -->
<div class="col-md-12" id="instructions">

    <h4>
        The goal is simple: Control the alien by using the arrow keys
        to move (or space to jump) to get to the flag. <br>
        If you get stuck, you can reset the game pressing R.
    </h4>

    <div class="col-md-12 text-center">
        <button id="btn-create" ng-click="createPGame()" onclick="removeDummy()" class="btn btn-primary btn-lg">Start Game</button>
    </div>

</div>