<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid" src="/static/website/images/logo.png" alt="Crowdjump">
        <h1>Welcome to Crowdjump!</h1>
        <h3> Version {{ version }}</h3>
    </div>
</div>

<h4> Crowdjump is a bachelor thesis in which you can submit your ideas to improve a simple game to your likings!<br><br>
    The goal of the thesis is to observe how a game is designed bottom-up with a crowd and how the decision finding<br>
    process is made. <br><br><br>


    The game itself can be found at
    <div class="btn-group">
        <a ui-sref="game" class="btn btn-info">
            <i aria-hidden="true"></i> Game
        </a>
    </div>
    <br><br>

    If you played the game and want to submit a new feature, you should visit
    <div class="btn-group">
        <a ui-sref="ideas" class="btn btn-info">
            <i aria-hidden="true"></i> Ideas
        </a>
    </div>
    <br><br>

    On
    <div class="btn-group">
        <a ui-sref="history" class="btn btn-info">
            <i aria-hidden="true"></i> History
        </a>
    </div>
    you can find the changes implemented in previous iterations of the game.

</h4>
<article>
</article>
