<div class="container">
    <div ng-controller="ChatController as vm" ng-show="vm.isAuthenticated">
        <textarea id="chat-log" cols="96" rows="20" size="100" style="resize: none; width: 70%;height: 30%"></textarea><br/>
        <input id="chat-message-input" type="text" style="width: 70%;height: 30%"/><br/>
        <input id="chat-message-submit" type="button" class="btn-primary" value="Send"/>
    </div>
    <div ng-controller="ChatController as vm" ng-show="!vm.isAuthenticated">
        <div class="alert alert-info">
            <strong>
                <a style="font-size: 28px" style="margin-top: 45px" href="/login?next={{ request.path }}">Login to
                    chat!</a>
            </strong>
        </div>
    </div>
</div>
<script>

    var roomName = '123';

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

    var chatSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var datetime = data['datetime'];
        var username = data['username'];
        document.querySelector('#chat-log').value += (datetime + '  ' + username + ":  " + message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var datetime = new Date().format('d-m-Y h:i:s');
        var username = 'test'; //{{ user.id }};

        chatSocket.send(JSON.stringify({
            'message': message,
            'datetime': datetime,
            'username': username
        }));

        messageInputDom.value = '';
    };
</script>